#background-video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

h1, h2 {
  color: #fff;
  font-weight: bold;
  font-family: Trebuchet MS;
  text-align: center;
}

.header1 {
  margin-top: 30vh;
  font-size: 4rem;
}

.header2 {
  font-size: 2.5rem;
}

@media (max-width: 750px) {
  #background-video { 
    display: none;
  }

  body {
    background: url("https://assets.codepen.io/6093409/river.jpg") no-repeat center center fixed;
    background-size: cover;
  }

  main {
    font-size: 1rem;
    padding: 0;
  }
}

main {
  background-color: rgba(44, 189, 233, 0.733);
  font-size: 2rem;
  margin-top: 50vh;
  padding: 10px;
  position: relative;
}